.agreement
    input.agreement-input(type="checkbox" name="agreement-input" value="Дано")
    .agreement__descr Перед заполнением квиза подтвердите, что согласны на обработку персональных данных и <a href="./privacy.html">политикой конфиденциальности</a>